.icon-hotel {
  background: #007bff;
}

.icon-bed {
  background: #007bff;
}

.icon-price {
  border: 30px;
  padding: 7px 20px;
  border-radius: 2.8px;
  color: #ffff;
  background: #007bff;
  letter-spacing: 2px;
  font-weight: 500;
}

.input-group div .icon-filter {
  background-color: #fff;
}

.input-group .icon-filter1 {
  border-left: none;
}

.input-group .custom-select {
  background: #fff;
  -webkit-appearance: menulist-button;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: #DBDBDB;
}

.header {
  height: 40px;
  margin-top: 17px;
}

.header-title{
  margin-top: 30px;
}

.text-white {
  height: 170px;
}
